/* ----- NEW LOGIN STAFF & MEMBERS ----- */


#login {
    width: 100%;
    text-align: center;
    padding: 100px 0px;
}

#login h1 {
    display: none;
}

#login_error {
    margin: 0 auto 20px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}




.login #backtoblog {
    display: none;
}
p#nav {
    display: none;
}

#loginform {
    margin: 0;
    display: inline-block;
    text-align: left;
    padding: 40px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

#loginform p label {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 100;
}

.forgetmenot label {
  font-size: 14px!important;
}

#loginform #rememberme {
    vertical-align: middle;
}

#loginform p .input {
    width: 100%;
    height: 40px;
    font-weight: 100;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    background-color: transparent;
}

#loginform #wp-submit  {
    @extend .button;
    width: 100%;
    margin-top: 20px;
}

#loginform:before {
    display: block;
    content: 'Login to your account';
    font-size: 32px;
    font-weight: 100;
    font-family: "Roboto", Verdana, sans-serif;
    margin-bottom: 30px;
    line-height: 1;
}
#loginform:after {
    content: 'Need help? Call 925-730-7100 M-F 8 to 5:30';
    font-size: 14px;
    font-weight: 100;
    font-family: "Roboto", Verdana, sans-serif;
		display: block;
		margin-top: 20px;
}

#loginform .tip-trigger {
	display: inline-block;
	position: relative;
	background-color: $light-blue;
  text-align: center;
	color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
}
#loginform .tip-content {
	opacity: 0;
	visibility: hidden;
	display: block;
	position: absolute;
	z-index: 10;
	width: 260px;
	background-color: white;
	box-shadow: 0 2px 2px rgba(0,0,0,.25);
	text-align: left;
	color: $dark-gray;
  font-size: 12px;
  padding: 10px 15px;
  border: $base-border;
  top: 0px;
  left: 30px;
}
#loginform .tip-trigger:hover .tip-content {
	opacity: 1;
	visibility: visible;
}


/*======[END MEMBERSHIP LOGIN PAGE]======*/
