.employee-group {
  margin: 40px auto 20px;

  h2 {
    margin-bottom: 40px;
    text-align: center;
  }

  &:nth-child(even) {
    background-color: $light-gray;
    padding: 40px 0 20px;
    @include tablet {
      padding: 80px 0 60px;
    }
  }

  @include tablet {
    margin: 60px auto 60px;
    .container {
      padding: 0 10px;
    }
  }
}

.employee-cards {
  ul {
    @include tablet {
      display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    }
  }
}

.employee-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
  border: $base-border;
  box-shadow: 0px 2px 4px rgba(0,0,0,.1);
  margin-bottom: 20px;
  background-color: white;

  @include mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  @include tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(50% - 20px);
    margin: 0 10px 20px;


  }

  @include desktop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  &_image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 30px;

    @include mobile {
      margin: 0 30px 0 0;
    }

    @include tablet {
      margin: 0 auto 30px;
    }

    @include desktop {
      margin: 0 30px 0 0;
    }

    img {
      width: 130px;
      height: auto;
    }
  }

  &_content {
    width: 100%;

    @include mobile {
      width: calc(100% - 160px);
    }

    @include tablet {
      width: 100%;
    }

    @include desktop {
      width: calc(100% - 160px);
    }

    h3 {
      text-transform: none;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      > i {
        padding-right: 8px;
      }
    }

    .employee-card_contact {
      padding-bottom: 15px;
      margin-bottom: 30px;
      border-bottom: $base-border;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;

      a {
        margin-bottom: 10px;
      }

      a:first-of-type {
        margin-right: 30px;
      }

    }

    .employee-card_company {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px;
      > i {
        padding-right: 8px;
        color: $dark-gray;
      }

      h5 {
        font-size: 18px;
      }

    }

    .employee-card_address {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      > i {
        line-height: 1.25;
        padding-right: 8px;
        color: $dark-gray;
      }

      p {
        margin-bottom: 0px;
        color: $dark-gray;
      }
    }

    .employee-card_video {
      margin-top: 15px;
      display: table;
    }
  }
}


.find-realtor_cards {
  @include tablet {
    padding: 0px 10px;
  }
  @include desktop {
    padding: 0px;
  }
  ul li {
    @include mobile {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    @include tablet {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: calc(50% - 20px);
      margin: 0 10px 20px;


    }

    @include desktop {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: calc(33.333% - 40px);
      margin: 0 20px 40px;
      //justify-content: center;
    }
    .employee-card_content {
      width: 100%;

      .button {
        &:hover {
          color: white;
        }
      }

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 100%;
      }

      @include desktop {
        width: 100%;
      }

      .button {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}
